[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
psutil = "*"
nox = "*"

[packages]
parsimonious = "*"
cryptography = "*"
requests = "*"
pyope = "*"
flask = "*"
psycopg2 = "*"
rens-paillier = "*"

[requires]
python_version = "3.8"
